.icon i{
    color: white;
    
}
.footer_section{
    background-color:rgb(23,23,22);
}
.contact_info{
    background-color: rgb(23,23,22);
}
.resourses_section{
    background-color:rgb(23,23,22);
}
.header{
    background-color: rgb(23,23,22);
}